html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: Gotham-Medium;
  font-weight: 700;
  src: url('../fonts/Gotham-Medium.otf');
}
@font-face {
  font-family: Gotham-Thin;
  font-weight: 700;
  src: url('../fonts/Gotham-Thin.otf');
}
@font-face {
  font-family: Gotham-Ultra;
  font-weight: 700;
  src: url('../fonts/Gotham-Ultra.otf');
}

img {
  width: 100%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #424242;
}

.hidden {
  display: none !important;
}
