* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #222;
}

h1 {
  text-align: center;
  padding: 24px 0;
  box-shadow: 0 0 24px 12px rgba(0, 0, 0, 0.06);
}

a {
  text-decoration: none;
  color: #f76707;
}

.btn {
  display: inline-block;
  background-color: #ff922b;
  color: #fff;
  padding: 8px 16px;
  border-radius: 9px;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #e67700;
}

.container {
  width: 1400px;
  margin: 96px auto;
}

.main-nav {
  display: flex;
  justify-content: space-between;
}

input[search] {
  padding: 8px 16px;
  border-radius: 9px;
  border: none;
  border: 1px solid #ff922b;
}

.grid {
  width: 1400px;
  margin-top: 64px;

  justify-items: center;
  border-collapse: collapse;
}

img {
  width: 210px;
  height: 210px;
}

th,
td {
  border: 1px solid #eee;
  text-align: center;
  font-weight: 600;
}

td {
  padding: 8px 0;
}

thead th {
  padding: 16px 8px;
  border: none;
  background-color: #ff922b;
  color: #fff;
  text-transform: uppercase;
}

/* add */

.add-product div {
  padding: 16px 0;
}

label {
  font-weight: 600;
  display: inline-block;
  text-transform: uppercase;
  width: 200px;
}

.add-product input {
  padding: 12px 24px;
}

input[type="submit"] {
  margin-top: 16px;
  background: none;
  border: none;
  display: inline-block;
  background-color: #ff922b;
  color: #fff;
  font-size: 18px;
  padding: 16px 24px;
  border-radius: 9px;
  cursor: pointer;
}

.btn-back {
  color: blue;
  text-decoration: underline;
  display: inline-block;
  margin-bottom: 24px;
}
