/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/*
Main color: #364fc7
TINT: #edf2ff
GREY: #555
*/

@font-face {
  font-family: Gotham-Medium;
  font-weight: 700;
  src: url("../fonts/Gotham-Medium.otf");
}
@font-face {
  font-family: Gotham-Thin;
  font-weight: 700;
  src: url("../fonts/Gotham-Thin.otf");
}
@font-face {
  font-family: Gotham-Ultra;
  font-weight: 700;
  src: url("../fonts/Gotham-Ultra.otf");
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  border-top: 5px solid #364fc7;
  font-family: "Gotham-Medium", "open sans", sans-serif;
  color: #555;
  line-height: 1;
}

.grid {
  display: grid;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.heading-primary {
  color: #333;
  font-size: 5.2rem;
  line-height: 1.1;
  letter-spacing: 0.5px;
  font-family: "Gotham-Ultra";
}

.heading-secondary,
.heading-secondary-line {
  font-family: "Gotham-Ultra";
  font-size: 3.6rem;
  letter-spacing: -1.5px;
  text-transform: uppercase;
  position: relative;
  color: #333;
}

.heading-secondary-line:after {
  position: absolute;
  bottom: -1rem;
  left: 0;
  content: "";
  width: 20rem;
  border-bottom: 4px solid #364fc7;
}

.container {
  max-width: 130rem;
  margin: 0 auto;
}

li {
  list-style: none;
  text-transform: uppercase;
  font-size: 1.6rem;
}

a:link,
a:visited {
  text-decoration: none;
  color: #555;
}

a[tel],
a[mail] {
  color: #364fc7;
}

.btn:link,
.btn:visited {
  font-size: 1.6rem;
  display: inline-block;
  background-color: #364fc7;
  color: #fff;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  transition: all 0.3s;
}

.btn:hover,
.btn:active {
  background-color: #1b2864;
}

.btn-link:link,
.btn-link:visited {
  display: inline-block;
  color: #424242;
  transition: all 0.3s;
}

.btn-link:hover,
.btn-link:active {
  color: #364fc7;
  transform: translateY(-20%);
}

.margin-bottom-sm {
  margin-bottom: 3.2rem;
}

.margin-bottom-md {
  margin-bottom: 4.8rem;
}

.margin-bottom-big {
  margin-bottom: 9.6rem;
}

.margin-top-sm {
  margin-top: 3.2rem;
}

.margin-top-md {
  margin-top: 4.8rem;
}

.margin-top-big {
  margin-top: 9.6rem;
}
/* ================== */
/* ===== Header ===== */
/* ================== */

.logo {
  width: 5.2rem;
  height: 5.2rem;
}

.header {
  border-bottom: 1px solid #eee;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 0 12.8rem 0 4.8rem;
  align-items: center;
  /* box-shadow: 0 0 1.2rem 1.2rem rgba(0, 0, 0, 0.06); */
}

.navbar-menu {
  display: flex;
  align-items: center;
  gap: 6.4rem;
  position: relative;
}

.navbar-menu > li {
  padding: 3.2rem 0;
}

.menu-product {
  position: absolute;
  left: 6.4rem;
  top: 8rem;
  background-color: #fff;
  bottom: 0;
  display: none;
  gap: 3.2rem;
  box-shadow: 0 0 2.4rem 1.6rem rgba(0, 0, 0, 0.06);
  padding: 4.8rem 2.4rem;
  border-radius: 7px;
}

.menu-product li {
  display: flex;
  align-items: center;
}

.menu-product a:link,
.menu-product a:visited {
  display: inline-block;
  color: #424242;
  transition: all 0.3s;
}

.menu-product a:hover,
.menu-product a:active {
  color: #364fc7;
  transform: translateY(-20%);
}

li:hover > .menu-product {
  display: flex;
}

.header-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1.2rem;
  font-size: 1.4rem;
  border-bottom: 1px dotted #777;
}

.header-details div:last-child {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

a[user-btn]:hover,
a[user-btn]:active {
  color: #364fc7;
}

.btn-cart {
  margin-left: 3.2rem;
  font-size: 2rem;
}

.num-cart {
  display: inline-block;
  font-size: 2rem;
  color: #fff;
  background-color: #364fc7;
  width: 2.4rem;
  height: 2.4rem;
  padding: 0.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ================== */
/* ===== Footer ===== */
/* ================== */

.footer {
  background-image: url("../img/footer.jpg");
  background-size: cover;
  background-position: center;
  padding: 12.8rem 4.8rem;
}

.footer--logo {
  display: block;
  width: 7.6rem;
  height: 7.6rem;
}

.footer-about span {
  display: inline-block;
  font-size: 2rem;
  color: #fff;
  margin-top: 2.4rem;
  margin-bottom: 3.2rem;
}

.footer-about ul {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer .btn-link {
  color: #999;
}

.footer .btn-link:hover {
  color: #fff;
}

.footer-address p,
.footer-contact p {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 3.2rem;
}

.footer-address span {
  display: block;
  color: #999;
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
}

.footer-address a[tel],
.footer-address a[mail] {
  color: #edf2ff;
}

.footer-contact {
  justify-self: center;
}

.footer-socials {
  display: flex;
  gap: 2.4rem;
}

.footer-social {
  display: block;
  color: #fff;
  font-size: 3.2rem;
}

.btn-form {
  background-color: #364fc7;
  color: #fff;
  border: none;
  align-self: start;
  font-size: 1.8rem;
  display: inline-block;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  cursor: pointer;
  transition: all 0.3s;
  font-family: inherit;
}

.btn-form:hover {
  background-color: #1b2864;
}

.btn--back {
  background-color: #ebebeb;
  color: #333;
  border: none;
  font-size: 1.8rem;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  cursor: pointer;
}

.btn--back:hover {
  background-color: #1b2864;
  color: #fff;
}

div[wrapper] {
  display: flex;
  gap: 1.6rem;
}
